@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,400i|Merriweather:400,400i");
/*
MEDIA QUERY MANAGER


0 - 600px
600 - 900px
900 - 1200px
1200 - 1800px default
1800px+

Base > typography > general layout > grid > page layout > components
*/
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.section-divide {
  width: 75%;
  margin: 3rem auto;
  border-bottom: 1px solid #bbb; }

img {
  user-select: none; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 57%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  color: #222;
  line-height: 145%; }

.heading-primary {
  font-weight: 300;
  font-size: 3rem; }

.heading-secondary {
  font-weight: 300;
  margin-left: auto; }

.heading-tertiary {
  text-align: center;
  font-weight: 400;
  letter-spacing: .2rem; }

::selection {
  color: #fff;
  background-color: #e74c3c; }

input, textarea {
  font-family: "Lato";
  font-size: 1.4rem; }

.u-animate-fadeOut {
  animation-name: fadeOut;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-delay: 6s; }

.add {
  text-align: center;
  padding: 2rem;
  margin: 2rem;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: .5rem; }
  .add__group {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #eee; }
  .add__input {
    padding: 1rem; }
  .add__label {
    display: block;
    margin-bottom: 1rem; }
  .add__submit {
    padding: 1rem 4rem;
    cursor: pointer;
    background-color: #e74c3c;
    border-radius: 5rem;
    border: none;
    color: #fff;
    margin-top: 1rem; }
  .add__select {
    padding: 1rem 2rem; }
  .add__textarea {
    padding: 1rem;
    resize: none;
    width: 50%;
    min-height: 10rem;
    font-family: "Lato"; }

.contact {
  padding: 2rem;
  margin: 2rem;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: .5rem; }
  .contact__table, .contact__tr, .contact__td {
    border-collapse: collapse; }
  .contact__td {
    padding: .5rem; }
  .contact__header {
    padding-bottom: 2rem; }
  .contact__textarea {
    font-family: "Lato";
    font-size: 1.6rem;
    resize: none;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #bbb;
    min-height: 20rem;
    overflow: hidden; }
    .contact__textarea:focus {
      outline: none; }
  .contact__input {
    padding: 1rem;
    border: none;
    border-bottom: 2px solid #e74c3c;
    background-color: #f7f7f7;
    transition: all .2s;
    width: 100%; }
    .contact__input:focus {
      outline: none;
      background-color: #fdfdfd; }
  .contact__submit {
    padding: 1rem 4rem;
    cursor: pointer;
    background-color: #e74c3c;
    border-radius: 5rem;
    border: none;
    color: #fff;
    margin-top: 1rem;
    transition: all .2s; }
    .contact__submit:hover {
      background-color: #bf2718; }
  .contact__toolbar {
    width: 100%;
    background-color: #fdfdfd;
    border: 1px solid #eee; }
  .contact__tool {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    color: #000;
    transition: all .2s; }
    .contact__tool:hover {
      background-color: #f7f7f7; }
  .contact__text {
    margin-top: 1rem;
    border: 1px solid #eee;
    min-height: 20rem;
    padding: 2rem; }
    .contact__text:focus {
      outline: none; }

.edit-py__edits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.edit-py__container {
  margin: 2rem;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #eee;
  display: inline-block;
  max-width: 25%;
  text-align: center;
  position: relative;
  min-width: 35rem; }
  .edit-py__container--heading {
    padding: 1rem 4rem;
    cursor: pointer;
    background-color: #e74c3c;
    border-radius: 5rem;
    border: none;
    color: #fff;
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none; }
    .edit-py__container--heading:hover {
      background-color: #bf2718; }

.edit-py__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.edit-py__content {
  text-align: justify;
  font-size: 1.3rem;
  line-height: 130%; }

.edit-py__textarea {
  text-align: justify;
  font-size: 1.3rem;
  line-height: 130%;
  font-family: "Lato";
  height: 20rem;
  display: block;
  width: 100%;
  resize: none;
  border: none;
  padding: 1rem; }

.edit-py__submit {
  padding: 1rem 4rem;
  cursor: pointer;
  background-color: #e74c3c;
  border-radius: 5rem;
  border: none;
  color: #fff;
  margin-top: 1rem; }

.edit-py__span {
  width: 100%;
  display: block; }

.edit-py__input {
  padding: 1rem; }

.edit-py__select {
  width: 100%;
  padding: .5rem;
  border-radius: 2px; }

.edit-py__img {
  width: 100%;
  display: block; }

.edit-py__heading {
  margin-top: 2rem;
  text-align: center; }

.page {
  display: grid;
  grid-template-columns: repeat(4, minmax(20rem, 1fr));
  grid-template-rows: auto; }
  .page__in {
    margin: 2rem;
    border: 1px solid #eee;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center; }
  .page__form {
    width: 100%; }
  .page__heading {
    margin-bottom: 1rem; }
  .page__text {
    width: 100%;
    height: 20rem;
    border-style: none;
    font-family: "Lato";
    resize: none;
    padding: 0 1rem;
    text-align: justify; }
  .page__submit {
    padding: 1rem 2rem;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5rem;
    margin-top: 1rem; }

.puppies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 2rem;
  margin: 2rem; }
  .puppies__puppy {
    border: 1px solid #eee;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column; }
  .puppies__content {
    overflow: hidden;
    margin: auto; }
  .puppies__img {
    width: 95%; }
  .puppies__group {
    text-align: center; }
  .puppies__edit {
    background-color: #e74c3c;
    color: #fff;
    padding: .3rem 4rem;
    border-radius: 5rem;
    text-decoration: none;
    transition: all .2s; }
    .puppies__edit:hover {
      background-color: #bf2718; }
  .puppies__heading {
    margin: 1rem; }
  .puppies__add {
    position: fixed;
    left: 2rem;
    bottom: 0;
    transform: translateY(-100%); }
  .puppies__cta {
    padding: 1rem 2rem;
    background-color: #e74c3c;
    color: #fff;
    border-radius: 5rem;
    text-decoration: none;
    transition: all .2s; }
    .puppies__cta:hover {
      background-color: #bf2718; }

.upload {
  border: 1px solid #eee;
  background-color: #fff;
  padding: 2rem;
  margin: 2rem;
  text-align: center; }

.footer {
  background-color: #333;
  min-height: 30vh;
  position: relative;
  overflow: hidden; }
  .footer__title {
    color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 10%; }
    @media only screen and (max-width: 75em) {
      .footer__title {
        left: 20%; } }
    @media only screen and (max-width: 56.25em) {
      .footer__title {
        position: relative;
        display: block;
        text-align: center;
        transform: none;
        left: initial;
        top: initial;
        padding-top: 3rem; } }
    .footer__title--link {
      text-decoration: none;
      color: #fff; }
      @media only screen and (max-width: 56.25em) {
        .footer__title--link {
          font-size: 1.7rem; } }
  .footer__nav {
    margin-right: 5rem;
    margin-top: 5rem;
    float: right;
    font-size: 1.4rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__nav {
        float: none;
        text-align: center;
        margin: 2rem auto; } }
  .footer__li {
    list-style: none;
    display: inline-block;
    margin: 0 3rem; }
    .footer__li--social {
      margin: 0 2rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__li {
        margin-top: 5rem; } }
  .footer__a {
    text-decoration: none;
    color: #fff; }
    .footer__a--social {
      font-size: 3rem;
      display: inline-block; }
      .footer__a--social-facebook {
        color: #3b5998; }
      .footer__a--social-instagram {
        color: #517fa4; }
      .footer__a--social-googleplus {
        color: #dc4e41; }
      .footer__a--social-twitter {
        color: #55acee; }

.row {
  margin: 0 4rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      width: 100% !important; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  width: 100%;
  background-color: #111;
  color: #fff;
  display: flex;
  padding: 2.5rem;
  align-items: center; }
  .header__home {
    color: #fff;
    text-decoration: none;
    transition: all .2s; }
    .header__home:hover {
      color: #eee; }

.sidebar {
  padding: 2rem;
  height: 100%; }
  .sidebar__link {
    padding: 1rem 0;
    position: relative;
    border-bottom: 1px solid #eee;
    transition: all .2s; }
    .sidebar__link:hover {
      border-bottom: 1px solid #bbb; }
    .sidebar__link:target .sidebar__active {
      display: initial; }
  .sidebar__a {
    color: #28355C;
    text-decoration: none;
    font-weight: 300;
    transition: all .2s; }
    .sidebar__a:hover {
      color: #333; }
  .sidebar__icon {
    width: 4rem;
    display: inline-block;
    text-align: center;
    transition: all .2s;
    color: #e74c3c; }
  .sidebar__active {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%); }

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto; }

.section-sidebar {
  grid-column: 1 / 3;
  height: 92vh;
  border-right: 1px solid #f7f7f7; }

.section-main {
  grid-column: 3 / -1;
  background-color: #f7f7f7; }

.section-title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  border-right: 2px solid #f7f7f7;
  border-bottom: 2px solid #f7f7f7;
  padding: 2rem; }

.section-name {
  grid-column: 3 / -1;
  grid-row: 1 / 2;
  border-bottom: 2px solid #f7f7f7;
  padding: 2rem;
  display: flex; }

.section-main--el {
  display: none;
  position: relative; }
  .section-main--el:target {
    display: block; }

.section-puppies {
  height: calc(100% - 1.5rem); }
