html {
    font-size: $root-font-size;

    @include respond(tab-land) {
        font-size: 60%;
    }

    @include respond(tab-port) {
        font-size: 57%;
    }

    @include respond(phone) {
        font-size: 50%;
    }
}

body {
    font-size: $default-font-size;
    font-family: $default-font-family, sans-serif;
    color: $default-font-color;
    line-height: $default-line-height;
}

.heading-primary {
    font-weight: 300;
    // font-size: 3rem;
    font-size: 3rem;
}

.heading-secondary {
    font-weight: 300;
    margin-left: auto;
}

.heading-tertiary {
    text-align: center;
    font-weight: 400;
    letter-spacing: .2rem;
}

::selection {
    color: $color-black;
    background-color: $color-primary;
}