.header {
    width: 100%;
    background-color: $color-grey-dark-5;
    color: $color-white;
    display: flex;
    padding: 2.5rem;
    align-items: center;

    &__home {
        color: $color-white;
        text-decoration: none;
        transition: all .2s;

        &:hover{
            color: $color-grey-light-2;
        }
    }
}