.section-about {
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.section-info {
    & .info {
        margin: auto;

        &__p {
            margin: 2rem auto;
            text-align: justify;
        }
    }
}