.nav {

    &__li {
        list-style: none;
        display: inline-block;
    }

    &__a {
        text-decoration: none;
        color: $color-white;
        font-family: $default-font-family-header;
        margin: 3rem;
        padding: 1rem 0;
        transition: all .2s;
        border-bottom: 2px solid transparent;

        &:hover:not(&--cta) {
            border-bottom: 2px solid $color-white;
        }

        &--cta {
            border: 2px solid $color-secondary-light;
            color: $color-secondary-light;
            border-radius: 5px;
            padding: 1rem 2rem;

            &:hover {
                color: $color-secondary;
                border: 2px solid $color-secondary;
            }
        }
    }
}