.nav {
    overflow: hidden;
    background-image: linear-gradient(to right, $color-white 0%, $color-primary 50%, $color-primary 100%);
    padding: 2rem 0;
    display: flex;
    justify-content: flex-end;

    @include respond(phone) {
        background-image: none;
        background-color: $color-primary;
        display: block;
    }

    &.responsive {
        position: relative;

        & .nav__link {
            float: none;
            display: block;
            text-align: left;

            &--icon {
                position: absolute;
                right: 0;
                top: 2rem;
            }
        }
    }

    &__link {
        float: left;
        display: block;
        padding: 1rem 2rem;
        margin: 0 2rem;
        text-decoration: none;
        color: $color-grey-dark-3;
        font-family: $default-font-family-header;
        font-size: 110%;

        &:not(:first-of-type) {

            @include respond(phone) {
                display: none;
            }
        }

        &--icon {
            display: none;

            @include respond(phone) {
                float: right;
                display: block !important;
                font-size: 1.8rem;
            }
        }

        @include respond(phone) {
            
        }
    }

    &.sticky {
        position: fixed;
        z-index: 9000;
        top: 0;
        bottom: initial;
        background-image: none;
        background-color: $color-primary;
        width: 100%;
    }
}