.banner {
    height: 30rem;
    background-image: linear-gradient(to right, $color-banner 0%, transparent 5%, transparent 32rem, $color-banner 37rem, $color-banner 100%), url("../img/slide/slide_01.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    // padding-left: 37rem;
    padding-top: .1rem;
    z-index: 3000;

    @include respond(phone) {
        height: 10rem;
        background-image: linear-gradient(to right, $color-banner 0%, transparent 5%, transparent 10rem, $color-banner 13rem, $color-banner 100%), url("../img/slide/slide_01.jpg");
        padding-left: 15rem;
    }

    & .heading-secondary {
        margin: .5rem;
        color: $color-primary-light;

        @include respond(tab-port) {
            font-size: 1.8rem;
        }
    }

    & .heading-tertiary {
        color: $color-primary-light;
        font-size: 1.6rem;
    }
}