.blog {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;

    &__posts {
        // width: 75%;
        grid-column: 1 / 9;
    }

    &__sidebar {
        grid-column: 9 / -1;
    }

    &__pagination {
        text-align: center;
        margin-bottom: 2rem;
        font-family: $default-font-family-header;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-secondary;
        grid-column: 1 / -1;

        &--icon {
            font-size: 1.4rem;
        }

        &--pages {
            margin: 0 1rem;

            &:not(&--more) {
                cursor: pointer;
            }
        }
    }
}

.post {
    background-color: $color-grey-light-1;
    display: flex;
    padding: 2rem;
    margin-bottom: 2rem;

    &__img {
        width: 100%;
        position: absolute;
        height: 100%;
        top: 50%;
        left: 0;
        // z-index: 
        object-fit: cover;
        transform: translateY(-50%);

        &--container {
            width: 25%;
            flex-grow: 1;
            padding-top: 25%;
            position: relative;
            height: 0;
            margin: auto;
        }
    }

    &__content {
        width: 67%;
        flex-grow: 2;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
    }

    &__heading {
        margin-bottom: 2rem;
        font-size: 2rem;
    }
    
    &__text {
        color: $color-grey-dark;
    }

    &__link {
        background-color: $color-secondary;
        // padding: 1rem 2r
        color: $color-white;
        text-decoration: none;
        display: inline-block;
        border-radius: 5rem;
        font-size: 1.4rem;
        flex-grow: 0;
        transition: background-color .2s;

        &:hover {
            background-color: $color-secondary-dark;
        }

        &--read {
            padding: 1rem 4rem;
            margin: 2rem 0;
            align-self: flex-start;
        }

        &--share {
            padding: .5rem 2rem;
        }
    }

    &__bar {
        display: flex;
        align-items: center;
        margin-top: auto;
    }

    &__detail {
        margin-right: 4rem;
        font-size: 1.4rem;
        color: $color-secondary;
    }

    &__label {
        margin-left: 1rem;
    }
}

.sidebar {
    padding: 2rem;

    &__featured {
        
    }

    &__img {
        height: 10rem;
        width: 10rem;
        object-fit: cover;
        margin-right: 2rem;
    }

    &__post {
        background-color: $color-grey-light-1;
        margin: 2rem 0;
        padding: 1rem;
        display: flex;
    }

    &__link {
        padding: .5rem 2rem;
        background-color: $color-secondary;
        border-radius: 5rem;
        text-decoration: none;
        color: $color-white;
        display: inline-block;
        margin: 1rem 0;
        transition: background-color .2s;

        &:hover {
            background-color: $color-secondary-dark;
        }
    }

    &__heading {
        font-weight: 700;
        font-size: 1.8rem;
        // mar
    }

    &__content {
        // text-align: center;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

.search {

    &__form {
        display: flex;
    }

    &__input {
        padding: 1rem;
        flex-grow: 1;

        &:focus {
            outline: none;

            &::-webkit-input-placeholder {
                color: transparent;
            }
        }
    }

    &__submit {
        padding: 1rem;
        border-color: transparent;
        background-color: $color-secondary;
        // margin-left: -.5rem;
        color: $color-white;
        flex-grow: 0;
        transition: background-color .2s;

        &:hover {
            background-color: $color-secondary-dark;
        }

        &:focus {
            outline: none;
        }
    }
}