.featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__puppy {
        background-color: $color-grey-light-2;
        text-align: center;
        max-width: 40rem;
        min-width: 20rem;
        margin: 1rem 2rem 0 2rem;
        padding: 2rem;
    }

    &__heading {
        margin-bottom: 1rem;
    }

    &__img {
        width: 80%;
    }

    &__link {
        margin: .5rem;
        padding: 1rem 4rem;
        border-radius: 5rem;
        background-color: $color-secondary;
        color: $color-white;
        display: inline-block;
        text-decoration: none;
        transition: all .2s;

        &:hover {
            background-color: $color-secondary-dark;
        }
    }
}