.puppy {
    background-color: $color-grey-light-1;
    text-align: center;
    padding: 2rem;
    position: relative;
    
    &__img {
        width: 100%;
    }

    &__name {
        font-size: 1.8rem;
    }

    &__price {
        font-size: 1.4rem;
    }

    &__cta {
        text-decoration: none;
        color: $color-white;
        background-color: $color-secondary;
        padding: 1rem 4rem;
        border-radius: 5rem;
        display: inline-block;
        transition: all .2s;

        &:hover {
            background-color: $color-secondary-dark;
        }
    }

    &__sold {
        position: absolute;
        height: 30rem
    }
}