.puppy-main {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 5rem;

    @include respond(phone) {
        width: 90%;
    }

    &__img {
        height: 40rem;

        @include respond(tab-port) {
            height: 30rem;
        }

        @include respond(phone) {
            width: 90%;
            height: auto;
        }
    }
    
    &__line {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__about {
        display: inline-block;
        width: 70%;
    }

    &__info {
        display: inline-block;
        margin: 0;
    }

    &__select {
        height: 5rem;
        cursor: pointer;
        // margin: .25rem;
    }

    &__cta {
        text-decoration: none;
        color: $color-white;
        padding: 1rem 2rem;
        background-color: $color-secondary;
        display: inline-block;
        margin: 1rem;
        transition: all .2s;
        margin-bottom: 1.5rem;

        &:hover {
            background-color: $color-secondary-dark;
        }
    }

    &__quote {
        text-align: justify;
        margin-top: 1rem;
    }

    &__table, &__tr, &__td {
        border-collapse: collapse;
    }

    &__table {
        margin-top: 2rem;
    }

    &__td {
        padding: 1rem 0;
        text-align: left;
        font-style: italic;
        padding-right: 2rem;
    }

    &__vid {
        height: 30rem;
        width: 53rem;
        margin-top: 2rem;

        @include respond(tab-port) {
            height: 20rem;
            width: 35rem;
        }
    }
}