html {
    font-size: 62.5%;
}

body {
    font-size: $default-font-size;
    font-family: $default-font-family-body, serif;
    color: $default-font-color;
    line-height: $default-line-height;
}

*[class^="heading-"] {
    font-family: $default-font-family-header;
}

.heading-primary {
    color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
    font-size: 5rem;
}